@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
    @media only screen and (max-width: 400) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
 
  }
  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

